body, html{
    background-color: silver;
    width: 100%;
    height: 100%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 10%;
}

.btn-center{
    margin-left: 25%;
    font-size: 16pt;
}

.text-small{
    font-size: 12pt;
}

.features{
    height: 25%;
}

.about-park{
    height: 35%;
}

.park-name{
    height: 20%;
}

.container{
    height: 100%;
}

.park-name p{
    font-size: 20pt;
}

.featuredpics{
    height: 20%;
    width: 20%;
    margin-left: 5%;
}

.rating{
    font-size: 30pt;
    padding: 2%;
    text-align: center;
}

/*CSS for star ratings*/
.rate_widget {
    background-color: white;
    border:     1px solid black;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      185px;
    height:     50px;
}
.ratings_stars {
    background: url('../images/star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('../images/star_full.png') no-repeat;
}
.ratings_over {
    background: url('../images/star_highlight.png') no-repeat;
}

.total_votes {
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute;  
} 
.park_rating {
    font: 10px verdana, sans-serif;
    margin: 0 auto 40px auto;
    width: 180px;
}